{% extends "index.html" %} {% block content %}
<div id="body-admin">
  <div class="m-1 row justify-content-center">
    <h1 id="title-admin" class="container p-2 m-3 text-center border display-3 border-dark rounded-pill">
      🛠 Administrateur ⚙️
    </h1>
  </div>

  <div class="container m-auto text-center p">
    <div id="msg-admin" class="container text-center border rounded border-dark">
      Voici la liste de tous les articles disponibles!
    </div>

    {% if msg %}
    <div id="msg-modified" class="container text-center border rounded border-dark">{{ msg }}</div>
    {% endif %}

    <a id="btn-create" href="/admin-nouveau" class="p-3 mb-3 text-center border btn border-dark">
      ➕Créer un nouvel article
    </a>
  </div>

  <table
    id="table-articles"
    class="container table w-auto h-auto m-auto text-center p-auto table-dark table-bordered table-striped"
  >
    <caption>
      <thead>
        <tr>
          <th id="titres">Titres</th>
          <th id="dates">Dates de publication</th>
          <th id="liens">Liens</th>
        </tr>
      </thead>
    </caption>
    <tbody>
      {% for article in articles %}
      <tr>
        <td>{{ article['titre'] }}</td>
        <td>{{ article['date_publication'] }}</td>
        <td>
          <a
            id="btn-modify"
            href="/admin/{{ article['identifiant'] }}"
            class="w-auto p-2 m-2 text-center border btn btn-warning border-dark font-weight-bolder"
          >
            📝Modifier l'article
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
