{% extends "index.html" %}
{% block title %}<title>⚠️Error</title>{% endblock title %}
{% block content %}
    <div class="container">
        <h2 id="error-msg"
            class="text-center">{{ error }}️</h2>
        <h2 id="try-again-msg"
            class="text-center text-primary">Please, Try
                                             Again!</h2>
        <div class="text-center">
            <h3>👇</h3>
            <a
                    class="btn btn-success font-weight-bolder"
                    href="{{ url_for('main_page') }}">↻Click here!
            </a>
            <h1 id="thank-msg"
                class="text-center text-warning
            font-weight-bold">Thank
                              You!</h1>
        </div>
    </div>
{% endblock content %}