{% extends "index.html" %}
{% block title %}<title>DDAIM</title>{% endblock title %}
{% block content %}
    <div class="container text-center ">
        <h1 id="title-main"
            class="text-center">Districts Data for Activities Installations of
                                Montreal (DDAIM)</h1>
        <h3 id="welcome"
            class="text-center">Welcome to your favorite software
                                to search data about activities in
                                districts of Montreal!
        </h3>
    </div>
    <div class="container text-center ">
        <h4 id="enter-district-msg"
            class="text-center text-primary">Enter the
                                             district you would
                                             like
                                             to see the installations
                                             data!</h4>
        <form id="arrondissement-form"
              class="container text-center form-group"
              name="arrondissement-form"
              action="{{ url_for('get_installations_for_arrondissement') }}">
            <label for="arrondissement">District
                                        (Arrondissement)</label>
            <input type="search"
                   placeholder="Enter District"
                   class="field-name"
                   id="arrondissement"
                   name="arrondissement"
                   minlength="4"
                   maxlength="40"
            >
            <button id="arrondissement-btn"
                    class="btn btn-success"
                    for="arrondissement"
                    type="button"
                    onclick="loadDoc('/districts?arrondissement=',
                       getInstallationsForDistrict)">Search
            </button>
        </form>
        <div id="result"
             class=''>
            <p id="result"></p>
        </div>
    </div>
    {% block scripts %}
        <script>
            function loadDoc(url, fct) {
                const arrondissement = document.getElementById("arrondissement").value
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        fct(this);
                    }
                };
                xhr.open("GET", url + arrondissement, true);
                xhr.send();
            }

            function getInstallationsForDistrict(xhr) {
                document.getElementById("result").innerHTML = xhr.responseText
            }
        </script>
    {% endblock scripts %}
{% endblock content %}