{% extends "bootstrap/base.html" %}
{% block doc %}
    {% block html %}
        {% block html_attribs %}{% endblock html_attribs %}
        {% block head %}
            {% block title %}{% endblock title %}
            {% block styles %}
                {{ super() }}
                <link rel="stylesheet"
                      href="style.css">
            {% endblock styles %}
            {% block metas %}
                <meta charset="UTF-8"/>
                <meta name="Carl Montpetit"
                      content="INF5190-Project"/>
            {% endblock metas %}
        {% endblock head %}
        {% block body %}
            {% block navbar %}
                {% include "navbar.html" %}
            {% endblock navbar %}
            {% block content %}{% endblock content %}
            {% include "footer.html" %}
            {% block scripts %}
                <script src="app.js"></script>
            {% endblock scripts %}
        {% endblock body %}
    {% endblock html %}
{% endblock doc %}