{% extends "index.html" %}
{#{{ url_for('get_installations_for_arrondissement') }}#}
{% block title %}🏒Installations{% endblock title %}
{% block content %}
    <div class="container text-center ">
        <h1 id="title-district" class="text-center">Districts Data for
                                                    Activities
            Installations of Montreal (DDAIM)</h1>
        <h3 id="enter-district-msg" class="text-center text-primary">Enter the
                                                              district you would
                                                like
            to see the installations data!</h3>
        <form id="arrondissement-form" class="container text-center
        form-inline">
            <div class="form-group">
                <label for="arrondissement">District (Arrondissement)</label>
                <input type="text" class="form-control" id="arrondissement"
                       name="arrondissement" minlength="4"
                       maxlength="40">
            </div>
            <button id="arrondissement-btn" type="submit" class="btn
            btn-default">Submit</button>
        </form>
    </div>
{% endblock content %}