{% extends "index.html" %}
{% block title %}<title>🔎Specific Installation</title>{% endblock title %}
{% block content %}
    <div class="container text-center ">
        <h1 id="title-main"
            class="text-center">Districts Data for Activities Installations of
                                Montreal (DDAIM)</h1>
        <h3 id="title-dropdown"
            class="text-center">Here's a dropdown list that
                                contains all
                                installations
                                available!</h3>
        <form>
            <label for="select">Choose An Installation :</label>
            <select id="select"
                    name="select"
                    class=""
                    onchange="loadDoc
                    ('/districts/all-installations/',
                    getInstallationData)">
                {% for installation in installations[0] %}
                    <option value="{{ installation }}">{{ installation }}</option>
                {% endfor %}
                {% for installation in installations[1] %}
                    <option value="{{ installation }}">{{ installation }}</option>
                {% endfor %}
                {% for installation in installations[2] %}
                    <option value="{{ installation }}">{{ installation }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div id="result"
         class='container text-center'>
        <p id="result"></p>
    </div>
    {% block scripts %}
        <script>
            function loadDoc(url, fct) {
                const select = document.getElementById("select").value
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        fct(this);
                    }
                };
                xhr.open("GET", url + select, true);
                xhr.send();
            }

            function getInstallationData(xhr) {
                document.getElementById("result").innerHTML = xhr.responseText
            }
        </script>
    {% endblock scripts %}
{% endblock content %}