{% extends "index.html" %}
{% block title %}💾DDAIM{% endblock title %}
{% block content %}
    <div class="container">
        <h3 id="title-dropdown" class="text-center">Here's a dropdown list that
        contains all
            installations
            available!</h3>
        <div id="dropdown" class="dropdown text-center">
            <button id="dropdown-button" class="btn btn-default
            dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">All Installations
                <span class="caret"></span></button>
            <ul id="dropdown-menu" class="dropdown-menu"
                onchange="onSelectInstallation()">
                {% for installation in installations[0] %}
                    <li><a>{{ installation }}</a></li>
                {% endfor %}
                {% for installation in installations[1] %}
                    <li><a>{{ installation }}</a></li>
                {% endfor %}
                {% for installation in installations[2] %}
                    <li><a>{{ installation }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}