{% extends "index.html" %}
{% block title %}<title>🔎Specific Installation</title>{% endblock title %}
{% block content %}
    <div class="container text-center ">
        <h1 id="title-main"
            class="text-center">Districts Data for Activities Installations of
                                Montreal (DDAIM)</h1>
        <h3 id="title-dropdown"
            class="text-center">Here's a dropdown list that
                                contains all
                                installations
                                available!</h3>
        <form>
            <label for="select">Choose An Installation :</label>
            <select id="select"
                    name="select"
                    class=""
                    onchange="onSelectInstallation()">
                {% for installation in installations[0] %}
                    <option value="{{ installation }}">{{ installation }}</option>
                {% endfor %}
                {% for installation in installations[1] %}
                    <option value="{{ installation }}">{{ installation }}</option>
                {% endfor %}
                {% for installation in installations[2] %}
                    <option value="{{ installation }}">{{ installation }}</option>
                {% endfor %}
            </select>
            <input id="specific-btn"
                   class="btn-success"
                   type="submit"
                   value="submit">
        </form>
    </div>
{% endblock content %}