{% extends "default.html" %} {% block content %}
<div id="body-404">
  <br /><br />
  <div class="container white bg-dark border border-danger rounded p-5 m-auto shadow-lg">
    <h2 class="display-2 text-center text-light font-weight-bold">Oups, un code d'erreur</h2>
    <h1 class="container display-1 border border-danger rounded-circle w-25 text-center text-danger font-weight-bold">
      404<br />
    </h1>
    <h2 class="display-2 text-center text-light font-weight-bold">est survenu!💩</h2>
    <h3 class="display-4 text-center text-light">(i.e le lien demandé ∄)</h3>
    <br />
    <hr />
    <br />
    <h3 class="display-3 text-center text-info font-weight-bold">Veuillez réessayer!</h3>
    <div class="container text-center align-self-center">
      <h1 class="display-3 text-center">👇</h1>
      <a
        class="btn btn-success border border-light text-light justify-content-center font-weight-bolder p-3 m-3"
        href="/"
      >
        ↻Clickez Ici!
      </a>
    </div>
    <br />
    <br />
    <h4 class="display-3 text-center text-warning font-weight-bold">Merci!🙂</h4>
  </div>
</div>
{% endblock content %}
