{% extends "default.html" %} {% block content %}
<div id="body-admin-new">
  <br />
  <div class="row justify-content-center p-1">
    <h1 class="display-3 text-light border border-dark bg-primary text-center rounded-pill w-auto h-auto my-4 p-2 font-weight-bolder">
      Création d'un nouvel article
    </h1>
  </div>

  {%if err%}
   <div class="container alert-danger border border-dark rounded text-center w-25 h-auto">{{err}}</div>
   {%endif%}
   
  <div class="row w-auto h-auto mt-lg-4 p-1 justify-content-center">
    <div id="article-create" class="col-3 w-auto h-auto mt-4 px-lg-2 text-center">
      <p
        id="article"
        class="
          display-4
          col-md-12
          mx-auto
          mt-4
          bg-dark
          border
          text-light
          font-weight-bolder
          border-dark
          rounded-pill
          w-75
          h-auto
          p-2
          row
          justify-content-center
        "
      >
        Article 📰
      </p>
        <form id="article-form" class="form-group m-2 p-2 w-auto h-auto m-auto" method="post" action="/admin-nouveau" enctype="multipart/form-data" class="form-group">
          <label class="font-weight-bold text-center" for="titre">Titre :</label>
          <input
            type="text"
            id="titre"
            class="col-md-12 m-auto form-control w-auto border border-dark"
            name="titre"
            value="{{titre}}"
            placeholder="Entrez le titre de l'article"
            required
          />
          {%if err and err_titre%}
          <div class="container alert-danger small text-center rounded-pill mt-1 w-50">
            ⚠️Svp, veuillez entrer un <strong>titre</strong> <u>valide</u>!..
          </div>
          {%endif%}
          <label class="font-weight-bold text-center" for="identifiant">Identifiant :</label>
          <input
            type="text"
            id="identifiant"
            class="col-md-12 m-auto form-control w-auto border border-dark"
            name="identifiant"
            value="{{identifiant}}"
            placeholder="Entrez l'identifiant"
            required
          />
          {%if err and err_identifiant%}
          <div class="container alert-danger small text-center rounded-pill mt-1 w-50">
            ⚠️Svp, veuillez entrer un <strong>identifiant</strong> <u>valide</u>!..
          </div>
          {%endif%}
          <label class="font-weight-bold text-center" for="titre">Auteur :</label>
          <input
            type="text"
            id="auteur"
            class="col-md-12 m-auto form-control w-auto border border-dark"
            name="auteur"
            value="{{auteur}}"
            placeholder="Entrez le nom de l'auteur"
            required
          />
          {%if err and err_auteur%}
          <div class="container alert-danger small text-center rounded-pill mt-1 w-50">
            ⚠️Svp, veuillez entrer un nom d'<strong>auteur</strong> <u>valide</u>!..
          </div>
          {%endif%}
          <label class="font-weight-bold text-center" for="date_publication"> Date de publication :</label>
          <input
            type="date"
            id="date_publication"
            class="col-md-12 m-auto form-control w-auto border border-dark"
            name="date_publication"
            value="{{date_publication}}"
            placeholder="Entrez la date de publication"
            required
          />
          {%if err and err_date_validation%}
          <div class="container alert-danger small text-center rounded-pill mt-1 w-50">
            ⚠️Svp, veuillez entrer une <strong>date</strong> de publication <u>valide</u>!..
          </div>
          {%endif%}
            <label class="font-weight-bold text-center" for="paragraphe">Paragraphe :</label>
            <textarea 
              maxlength="500"
              rows="4"
              cols="40"
              id="paragraphe"
              class="col-md-12 m-auto form-control w-auto border border-dark shadow"
              name="paragraphe"
              form="article-form"
              placeholder="Entrez le paragraphe de l'article ici"
              required
            >{{paragraphe}}</textarea>
            {%if err and err_paragraphe%}
            <div class="container alert-danger small text-center rounded-pill mt-1 w-50"
            >
              ⚠️Svp, veuillez entrer un <strong>paragraphe</strong> pour l'article <u>valide</u>!..
            </div> 
            {%endif%}
          <input
            class="col-md-12 mx-1 form-control btn btn-success border border-dark w-auto text-light mt-3 mr-2"
            type="submit"
            id="submit-article"
            name="submit-article"
            value="Créer"
          />
          <input
            class="col-md-12 mx-1 form-control btn btn-danger border border-dark w-auto text-light mt-3 ml-2"
            type="reset"
            id="reset-article"
            name="reset-article"
            value="Réinitialiser"
          />
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>